label img {
  cursor: pointer;
}

/*
.image-input-preview {
  position: relative;
  padding-top: calc(100% - 2px);
  width: 100%;
}

.image-input-preview img {
  position: absolute;
  top: 0;
  left: 0;
}
*/

.img-prev-ol {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-preview.image-input-preview {
  border-width: 1px;
  border-style: solid;
}

/* --------- Spinner --------- */

.img-prev-ol .spinner {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ccc;
  margin: calc(50% - 20px) auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px); }
  50% { -webkit-transform: perspective(120px) rotateY(180deg); }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg); }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
