/* --- General --- */
html {
  scroll-behavior: smooth;
}

/* --- Icons --- */
.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: black;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.icon.trick-icon {
  -webkit-mask-image: url("../imgs/icons/tricks.svg");
  mask-image: url("../imgs/icons/tricks.svg");
}

/* --- Footer --- */
footer {
  padding: 1rem;
  border-top: 1px solid #5eb5e0;
}

footer p {
  margin: 0;
}

/* --- Navbar --- */
#NavContainer {
  z-index: 1049;
}

.navbar-brand {
  height: 3.5rem;
}

.logo {
  font-family: 'Kaushan Script', cursive;
}

#frontNavbar .fas {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.5);
}

#frontNavbar .icon {
  background: rgba(255, 255, 255, 0.5);
}

#frontNavbar .active .icon {
  background: white;
}

#frontNavbar .active .fas {
  color: white;
}

#frontNavbar .navbar-nav .user-tools .nav-link img {
  height: 3rem;
  position: relative;
  top: -0.1rem;
  margin: -1.5rem 0 -1.5rem 0;
}

#frontNavbar .navbar-nav .user-tools .dropdown-menu {
  top: 140%;
  left: auto;
  right: 0;
}

.bg-dark .dropdown-item {
  color: #fff;
}

.bg-dark .dropdown-item:focus,
.bg-dark .dropdown-item:hover {
  color: rgb(94, 181, 224);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
}

/* --- Flash Messages -- */
#flash-messages-container {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 576px) {
  #NavContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 575px) {
  /* --- Navbar --- */
  #NavContainer #flash-messages-container {
    z-index: 1049;
    position: fixed;
    top: 0;
  }

  #NavContainer nav {
    z-index: 1049;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #frontNavbar ul {
    width: 100%;
    justify-content: space-around;
  }

  #frontNavbar .navbar-nav .nav-link {
    padding: 0.1rem;
  }

  #frontNavbar .navbar-nav .nav-link .icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  #frontNavbar .navbar-nav .user-tools .nav-link img {
    height: 2.85rem;
    top: 0;
    margin: 0;
  }

  #frontNavbar .navbar-nav .user-tools .dropdown-toggle::after {
    border-bottom: 0.3em solid;
    border-top: 0;
  }

  #frontNavbar .navbar-nav .user-tools .dropdown-menu {
    top: auto;
    left: auto;
    right: 0;
    bottom: 130%;
  }

  #frontNavbar .navbar-nav .user-tools .dropdown-menu .dropdown-item,
  #frontNavbar .navbar-nav .user-tools .dropdown-menu .profile-info {
    font-size: 1.5rem;
  }

  /* --- Footer --- */
  footer {
    margin-bottom: 4rem;
  }
}
