<footer>
    <p>Copyright © 2021{% if 'now'|date('Y') > 2021 %} - {{ 'now'|date('Y') }}{% endif %} <a href="http://www.romainlouet.fr" target="_blank" title="Visiter mon site">Romain LOUET</a></p>
</footer>