{% extends 'front/_front-base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Profile CSS -->
    <link rel="stylesheet" href="{{ asset("css/style-error.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="contentContainer">
        <article class="container trick-single pb-3">
            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-error"></div>
                    <h1>ERREUR</h1>
                    <h2>Oops! Erreur technique</h2>
                    <p>Désolé un problème technique nous empêche d'afficher la page demandée.</p>
                    <a href="{{ path('front_home') }}">Retour à l'accueil</a>
                </div>
            </div>

        </article>
    </div>
{% endblock %}