{% extends 'emails/base.html.twig' %}

{% block emailContent %}
    <h2 class="text-center">Réinitialisation de ton mot de passe</h2>
    <p>
        Nous avons reçu une demande de réinitialisation de mot de passe pour ton compte <a href="{{ url('home') }}" title="SnowTricks">SnowTricks</a>.<br>
        Si tu es bien à l'origine de cette demande, cliques sur le lien suivant afin d'en définir un nouveau :
    </p>
    <div class="text-center pb-1">
        <a class="btn" href="{{ url('security_password_recovery', {value:token}) }}" title="Réinitialiser mon mot de passe">Réinitialiser mon mot de passe</a>
    </div>
    <p><small>Si tu n'es pas à l'origine de cette demande, tu peux ignorer cet email.</small></p>
    <p>A tout de suite sur <a href="{{ url('home') }}" title="SnowTricks">SnowTricks</a> !</p>
    <p>Bon ride !</p>
    <p>L'équipe SnowTricks</p>
{% endblock %}